body {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  .header {
    display: flex;
    background-color: #101010;
    align-items: center;
  }
  
  .logo-container {
    width: 30%;
    color: white;
  }
  
  .logo-container h1 {
    margin: 5% 5% 5% 10%;
    font-size: 24px; /* Изменим размер шрифта на более читаемый */
  }
  
  .navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .navigation li {
    list-style: none; /* Уберем маркеры списка */
    margin-right: 20px; /* Добавим отступы между элементами меню */
  }
  
  .navigation a {
    text-decoration: none;
    color: white;
  }
  
  .navigation a:hover {
    color: gray;
  }

  .navigation li {
    list-style: none;
    margin-right: 20px;
  }
  
  .navigation li:hover a {
    background-color: red;
    color: #101010;
  }
  
  .content {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .images {
    text-align: center;
    margin: 20px; /* Заменим проценты на пиксели */
  }
  
  .imagess {
    max-width: 100%; /* Чтобы изображение не выходило за пределы контейнера */
    height: auto;
  }
  
  .txt {
    margin: 15px 5%; /* Заменим проценты на пиксели */
    width: 50%;
    text-align: center;
  }
  